/* Write your CSS here */

.todo-item {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 30px;
}

.btn-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
}

.edit-btn {
  background-color: #0000ff;
  color: #ffffff;
  border-radius: 3px;
  padding: 4px 12px;
}

.save-btn {
  background-color: #0dd411;
  color: #ffffff;
  border-radius: 3px;
  padding: 4px 12px;
}

.delete-btn {
  background-color: #fc1212;
  color: #ffffff;
  border-radius: 3px;
  padding: 4px 12px;
}
